main{
    width: 500px;
    height: 500px;
    background-color: brown;
    position: relative;
    top: 100px;
    left:100px ;
   
}
.Primeira{
    width: 100px;
    height: 100px;
    background-color: gray;
    position: absolute;
    top: ;
    right: 0;
    
    
}
.Segunda{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
}