main {
    width: 1000px;
    height: 600px;
    background-color: blueviolet;
    padding: 20px;
}
section {
    width: 600px;
    height: 500px;
    background-color: beige;
    padding: 20px;
}
div {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 20px;
    float: left;
}